root: {
    line-height: 2.0
    word-spacing: 6 px
    text-indent: 30 px
    background-color: blue
    text-color: yellow
    border: 4px black 
    max: 60%
}

body {
    font-size: 12px
}
h1 {
    font-size: 18px
}
h2 {
    font-size: 16px
}